*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #363535;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    margin: auto;
    max-width: 30rem;
    text-align: center;
}
header>h1{
    padding: 4px;
    background-color: #151414;
    margin: 1rem;
}
header>p{
    font-size: larger;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main>form>input{
    padding: 5px;
    font-size: xx-large;
    text-align: center;
    width: 10rem;
}
main>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
#prev,.remain{
    margin: 1rem;
    font-size: 1.5rem;
}
#guesses{
    background-color: #e86143;
}
#btn,#hint{
    font-size: x-large;
    padding: 5px;
}